<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
  <% if (blogs) { %>
      <% for( let i = 0; i < blogs.length; i++ ) { %>
  <section class=" m-3"><div class="card " style="width: 18rem;">
    <img src=<%= blogs[i].imageURL %> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= blogs[i].title %></h5>
      <p class="card-text"><%= blogs[i].description %></p>
      <a href="#" class="btn btn-primary"></a>
    </div>
  </div>
  <% } %> 
</section>  <% } %>
</body>
</html>