<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/signup" method="post">
        <input type="text" name="name" placeholder="currentPass">
        <input type="text" name="newPass" placeholder="newPass">
        <button type="submit">submit</button>
    </form>
</body>
</html>